Archive/** filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/Archive/CRAB/1.0-SNAPSHOT/changelog filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
/Archive/CRAB/1.0.1[[:space:]]release/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/CRAB/1.0.2[[:space:]]release/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/CRAB/1.0.3[[:space:]]release/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/CRAB/1.0.4[[:space:]]release/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/CRAB/1.0.5[[:space:]]release/changelog filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
/Archive/CRAB/2.0.0-SNAPSHOT[[:space:]](2025-02-08[[:space:]]21:45)/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/CRAB/2.0.0-SNAPSHOT[[:space:]](2025-02-09[[:space:]]15:32)/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/CRAB/2.0.0-SNAPSHOT[[:space:]](2025-02-09[[:space:]]19:01)/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/CRAB/2.0.0-SNAPSHOT[[:space:]](2025-02-09[[:space:]]20:15)/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/Mefedroniy/1.0.0+1.99.2/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/Mefedroniy/1.0.0+1.99.2/mefedroniy-client-x86_64-linux filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
/Archive/Mefedroniy/1.1.0+1.99.2/changelog filter=lfs diff=lfs merge=lfs -text
*.2-linux-x86_64 filter=lfs diff=lfs merge=lfs -text
/Archive/Mefedroniy/1.1.1+1.99.2/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/Mefedroniy/1.2.0+1.99.2/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/Mefedroniy/1.2.1+1.99.2/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/Mefedroniy/1.3.0+1.99.2/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/Mefedroniy/1.3.1+1.99.2/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/bRAC/bRAC[[:space:]]0.1.0+1.99.2/bRAC-i686-unknown-linux-gnu filter=lfs diff=lfs merge=lfs -text
/Archive/bRAC/bRAC[[:space:]]0.1.0+1.99.2/bRAC-x86_64-unknown-linux-gnu filter=lfs diff=lfs merge=lfs -text
/Archive/bRAC/bRAC[[:space:]]0.1.0+1.99.2/changelog filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
/Archive/bRAC/bRAC[[:space:]]0.1.1+2.0/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/bRAC/bRAC[[:space:]]0.1.2+2.0/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/bRAC/bRAC[[:space:]]0.1.3+2.0/bRAC-linux-x86_64 filter=lfs diff=lfs merge=lfs -text
/Archive/bRAC/bRAC[[:space:]]0.1.3+2.0/bRAC-minimal-linux-x86_64 filter=lfs diff=lfs merge=lfs -text
/Archive/bRAC/bRAC[[:space:]]0.1.3+2.0/bRAC-tui-linux-x86_64 filter=lfs diff=lfs merge=lfs -text
/Archive/bRAC/bRAC[[:space:]]0.1.3+2.0/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/bRAC/bRAC[[:space:]]0.1.4+2.0/README_WIN filter=lfs diff=lfs merge=lfs -text
/Archive/bRAC/bRAC[[:space:]]0.1.4+2.0/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/bRAC/bRAC[[:space:]]0.1.5+2.0/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/cRACk/v1.0.5/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/cRACk/v1.0.5/main filter=lfs diff=lfs merge=lfs -text
*.2 filter=lfs diff=lfs merge=lfs -text
/Archive/cRACk/v1.0/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/cRACk/v1.075/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/cRACk/v1.075/main filter=lfs diff=lfs merge=lfs -text
/Archive/cRACk/v1.98/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/cRACk/v1.98/main filter=lfs diff=lfs merge=lfs -text
/Archive/cRACk/v1.99/cRACk filter=lfs diff=lfs merge=lfs -text
/Archive/cRACk/v1.99/changelog filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
/Archive/sRAC/sRAC[[:space:]]1.0.0/changelog filter=lfs diff=lfs merge=lfs -text
/Archive/sRAC/sRAC[[:space:]]1.0.0/sRAC-linux-x86_64 filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
